extends layout

block content
  div(id='app')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script(src='/javascripts/production/build.min.js')
